import SexyLady
from pyquery import PyQuery
from tools.LogGenerator import *


class Parser:
    """
    requests_html is encapsulated here. For details, you can move to:
        https://github.com/kennethreitz/requests-html;
        https://pypi.org/project/requests-html/

    @:param methodname: Select the parsing method you need to use
    """
    methodname = 'xpath'

    def parser_source(self, p: [classmethod, PyQuery]):
        """
        Show your cleaning data here, like this:
            info = self.html('//*[@id="articleContentId"]/text()')
        """
        pass


if __name__ == '__main__':
    #  You can initialize your log file
    make_logfile('is_test')

    ML.info('Start running...')
    SexyLady.callback('you spider name')
